/* Reset de márgenes y padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fondo y diseño general */
body {
    font-family: 'Inter', sans-serif;
    background-color: #f7f8fa; /* Fondo claro, neutro */
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Contenedor principal */
.container {
    background-color: white;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    text-align: center;
}

/* Header */
header h1 {
    font-size: 2.2rem;
    color: #4a4a4a; /* Gris oscuro para mejor contraste */
    margin-bottom: 20px;
    margin-top: 25px; /* Ajusta este valor según lo necesites */
    font-weight: 600;
}

header p {
    font-size: 1.1rem;
    color: #6f6f6f; /* Gris suave */
}

/* Estilo del input */
.input-section {
    margin: 20px 0;
}

#stx-address {
    padding: 12px;
    width: 80%;
    border: 2px solid #e1e4e8; /* Gris claro para el borde */
    border-radius: 8px;
    font-size: 1rem;
    margin-bottom: 20px; /* Espacio entre el input y el botón */
    background-color: #fafafa; /* Fondo suave en el input */
}

/* Estilo del botón */
#check-balance {
    padding: 12px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    background-color: #6a49e4; /* Violeta suave que se asocia con Stacks */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s ease-in-out;
    font-weight: 600;
}

#check-balance:hover {
    background-color: #5a40c0; /* Violeta más oscuro en hover */
    transform: translateY(-2px); /* Efecto sutil al hacer hover */
}

/* Contenedor de resultados */
.results-section {
    margin-top: 30px;
    text-align: center;
}

#balance-container h2 {
    font-size: 1.3rem;
    color: #333;
    font-weight: 600;
}

#balance {
    font-size: 1.8rem;
    color: #6a49e4; /* Violeta que corresponde a la marca de Stacks */
    font-weight: bold;
}

/* Estilo para el valor en USD */
.balance-usd {
    font-size: 1.2rem;
    color: #4a4a4a;
    margin-top: 5px;
    font-weight: 500;
}

footer {
    text-align: center;
    font-size: 0.8rem;
    color: #c0c0c0; /* Gris muy claro */
    margin-top: 20px;
    padding: 10px 0;
}

